/* boards/shields/charybdis/charybdis_right_standalone.overlay */

#include "charybdis.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &charybdis_6col_layout;
    };
};
