--- a/boards/shields/charybdis/charybdis_right_common.dtsi
+++ b/boards/shields/charybdis/charybdis_right_common.dtsi
@@ -1,6 +1,13 @@
 /* boards/shields/charybdis/charybdis_right_common.dtsi */

 #include "charybdis.dtsi"

+/* Right half owns columns 6..11 */
+&default_transform {
+    col-offset = <6>;
+};
+
 &pinctrl {
     spi0_default: spi0_default {
         group1 {
