/* boards/shields/charybdis/dongle_charybdis_right.overlay */

#include "charybdis_right_common.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &charybdis_6col_layout;
    };

    /* 동글 모드용: 트랙볼 신호를 중앙으로 전송 */
    input_split: input_split@0 {
        compatible = "zmk,input-split";
        status = "okay";
        device = <&trackball>;
        reg = <0 1>;
    };
};
